name: unit-test-linux
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: test-linux
    runs-on: ubuntu-latest
    env:
        GIT_SSL_NO_VERIFY: true
    steps:
      - uses: SwiftyLab/setup-swift@latest
      - uses: actions/checkout@v1
      - name: Test
        run: swift --version && swift test --no-parallel
